.page {
  max-width: 1440px;
  margin: 0 auto;
}

.layout {
  display: block;
  padding: 0 var(--space-4) var(--space-8);
}

.sidebar {
  display: none;
}

.main {
  min-width: 0;
}

@media (min-width: 64rem) {
  .layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0 var(--space-8) var(--space-8);
    gap: var(--space-4);
  }

  .sidebar {
    display: block;
    min-width: 0;
    overflow: hidden;
  }
}
