.page {
  max-width: 90rem;
  margin: 0 auto;
  container-type: inline-size;
}

.layout {
  display: block;
  padding: 0 var(--space-4) var(--space-8);
}

.sidebar {
  display: none;
}

.main {
  min-width: 0;
}

.breadcrumbs {
  margin-bottom: var(--space-4);
}

@container (min-width: 48rem) {
  .layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0 var(--space-8) var(--space-8);
    gap: var(--space-4);
  }

  .sidebar {
    display: block;
    overflow: hidden;
    word-break: break-word;
  }

  .breadcrumbs {
    display: none;
  }
}
