.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 7rem 3rem;

  @media (max-width: 768px) {
    padding: 4rem 2rem;
  }
}
