.card {
  background-color: var(--color-background);
  border-radius: var(--radius-lg);
  border: 0.0625rem solid var(--color-border);
  box-shadow: var(--shadow-sm);
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  padding: var(--space-4) var(--space-4) 0 var(--space-4);

  @media (min-width: 30rem) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 48rem) {
    padding: var(--space-6) var(--space-6) 0 var(--space-6);
  }
}

.body {
  padding: var(--space-4);

  @media (min-width: 48rem) {
    padding: var(--space-6);
  }
}

.footer {
  padding: var(--space-4);
  border-top: 0.0625rem solid var(--color-border);

  @media (min-width: 48rem) {
    padding: var(--space-6);
  }
}

.title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-primary);
}
