.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  margin-bottom: var(--space-8);
}

.rightSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.search {
  max-width: 40rem;
  width: 100%;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.iconLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
