.root {
  width: 100%;
}

.card {
  padding: var(--space-6);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: var(--space-6);
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-sans);
  line-height: 1;
  margin: 0;
  color: var(--color-text-primary);
  word-break: break-all;
}

.readme {
  margin-bottom: var(--space-8);
}

.sectionTitle {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  margin: 0 0 var(--space-4);
  color: var(--color-text-primary);
}

.readmeContent {
  margin: 0;
  color: var(--color-text-secondary);
  font-size: var(--font-size-sm);
  line-height: 1.6;
}

.defList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-top: 0.0625rem solid var(--color-border);
}

.defItem {
  border-bottom: 0.0625rem solid var(--color-border);
}

.defDetails {
  transition: background-color var(--transition-fast);

  &:not([open]):hover {
    background-color: var(--color-background-light);
  }
}

.defHeader {
  padding: var(--space-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  list-style: none;
  font-family: inherit;

  transition:
    background-color var(--transition-fast),
    color var(--transition-fast),
    font-weight var(--transition-fast);
}

.defHeader::-webkit-details-marker {
  display: none;
}

.defHeaderRight {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.defName {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-light);
  transition: color var(--transition-fast);
}

.defDetails[open] .defName {
  color: var(--color-text-primary);
}

.defType {
  color: var(--color-text-light);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  user-select: none;
  transition: color var(--transition-fast);
}

.defDetails[open] .defType {
  color: var(--color-text-primary);
}

.chevron {
  color: var(--color-text-light);
  transition: transform var(--transition-fast);
  flex-shrink: 0;
}

.defDetails[open] .chevron {
  transform: rotate(-180deg);
}

.defContent {
  padding: 0 var(--space-4);
}

.defDescriptionLabel {
  display: block;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-secondary);
  text-transform: uppercase;
  margin-bottom: var(--space-2);
}

.defDescription {
  margin: 0;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-secondary);
}

.schema {
  margin-top: var(--space-4);
  padding: var(--space-4);
  background-color: var(--color-background-light);
  border-radius: var(--radius-md);
  overflow-x: auto;
  font-size: var(--font-size-xs);
  line-height: 1.5;
  font-family: var(--font-family-mono);
}
