.root {
  width: 100%;
}

.card {
  padding: var(--space-6);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: var(--space-6);
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-sans);
  line-height: 1;
  margin: 0;
  color: var(--color-text-primary);
  word-break: break-all;
}

.readme {
  margin-bottom: var(--space-8);
}

.defList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-top: 0.0625rem solid var(--color-border);
}
