.root {
  width: 100%;
}

.card {
  overflow: hidden;
  padding: 0;

  @media (min-width: 64rem) {
    padding: var(--space-4);
  }
}

.header {
  margin-bottom: var(--space-6);
}

.breadcrumbs {
  margin-bottom: var(--space-2);
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: var(--space-4);
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-sans);
  line-height: 1;
  margin: 0;
  color: var(--color-text-primary);
  word-break: break-all;
}

.readme {
  margin-bottom: var(--space-8);
}

.defListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-3) var(--space-4);
  border-bottom: 0.0625rem solid var(--color-border);
  background-color: var(--color-background-subtle);
}

.defCount {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  color: var(--color-text-secondary);
}

.defList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.defItem {
  border-bottom: 0.0625rem solid var(--color-border-strong);

  &:last-child {
    border-bottom: none;
  }
}
