.link {
  transition: all var(--transition-fast);
  border-radius: var(--radius-sm);
  outline: none;
  text-decoration: none;
}

.default {
  color: var(--color-text-hover);
}

.default:hover {
  color: var(--color-text-primary);
}

.primary {
  color: var(--color-primary);
}

.primary:hover {
  text-decoration: underline;
}

.muted {
  color: var(--color-text-tertiary);
  text-decoration: underline;
}

.muted:hover {
  color: var(--color-text-hover);
}
