.link {
  transition: all var(--transition-fast);
  outline: none;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.default {
  color: var(--color-text-primary);
}

.primary {
  color: var(--color-primary);
}

.muted {
  color: var(--color-text-tertiary);
}
