.description {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color-text-tertiary);
}

.viewLink {
  font-size: var(--font-size-sm);
  text-decoration: underline;
}
