.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-2);
  width: 100%;
  padding: var(--space-2) var(--space-4);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
  cursor: pointer;
  background: var(--color-background);

  @media (min-width: 64rem) {
    width: auto;
    justify-content: flex-start;
  }
}

.root:hover {
  background: var(--color-background-subtle);
}
