.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-2);
  padding: var(--space-2) var(--space-4);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
  cursor: pointer;
  background: var(--color-background);
  flex-grow: 1;

  &:hover {
    background: var(--color-background-subtle);
  }

  @media (min-width: 64rem) {
    flex-grow: 0;
  }
}
